In [1]:
mystring = 'hello'

In [3]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist2 = [x for x in 'word']

In [8]:
mylist2

['w', 'o', 'r', 'd']

element x can be anything... as long as it matches in both places

In [11]:
mylist3 = [num for num in range(0,10)]

In [12]:
mylist3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We can perform the operations on the first variable

In [13]:
mylist3 = [num**2 for num in range(0,10)]

In [14]:
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
#using if statement

mylist4 = [x for x in range(0,10) if x % 2 == 0]

In [16]:
mylist4

[0, 2, 4, 6, 8]

In [17]:
mylist5 = [x**2 for x in range(0,10) if x % 2 == 0]

In [18]:
mylist5

[0, 4, 16, 36, 64]

In [26]:
celsius = [0, 10, 20, 34.5]

fahrenheit = [(((9/5)*temp) + 32) for temp in celsius]

In [27]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [30]:
# breaking down

fahrenheit = []

for temp in celsius:
    fahrenheit.append(((9/5)*temp)+32)

In [31]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [33]:
#if else - we can do it by following way. But thats not good idea to do

results = [x if x % 2 == 0 else 'ODD' for x in range(0,10)]

In [34]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [35]:
results = [x for x in range(0,10) if x % 2 == 0 else 'ODD']

SyntaxError: invalid syntax (<ipython-input-35-c716e32026e7>, line 1)

In [36]:
results = [x if x % 2 == 0 for x in range(0,10)]

SyntaxError: invalid syntax (<ipython-input-36-29ef7ada2bff>, line 1)

other way it wont work

In [40]:
#nested loops - suggested not to do

mylist = []

for x in [2, 3, 4]:
    for y in [100, 200, 300]:
        mylist.append(x * y)
        
mylist

[200, 400, 600, 300, 600, 900, 400, 800, 1200]

In [41]:
mylist = [ x*y for x in [2,4,6] for y in [1,10,100]]

In [42]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [43]:
mylist = [x**2 for x in [y**2 for y in range(0,10)]]

In [44]:
mylist

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]