In [1]:
#ex01
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers 
#if both numbers are even, but returns the greater if one or both numbers are odd

def lesser_of_two_evens(*args):
    set_value = True
    for num in args:
            if num % 2 != 0:
                set_value = False
    if set_value:
        return min(args)
    else:
        return max(args)

In [2]:
lesser_of_two_evens(2,4)

2

In [3]:
lesser_of_two_evens(2,5)

5

In [4]:
lesser_of_two_evens(3,5)

5

In [5]:
print('{}'.format(min(2,4)))

2

In [6]:
#Method 2

def lesser_of_two_evens(a,b):
    if (a % 2 == 0 and b % 2 == 0):
        return min(a,b)
    else:
        return max(a,b)

In [7]:
lesser_of_two_evens(2,4)

2

In [8]:
lesser_of_two_evens(2,5)

5

In [9]:
lesser_of_two_evens(3,5)

5

In [10]:
#ex02
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

def animal_crackers(text):
    mylist = text.split()
    if len(mylist) != 2:
        return 'String doesnt have two words'
    elif mylist[0][0].lower() == mylist[1][0].lower():
        return True
    else:
        return False

In [11]:
animal_crackers('Levelheaded Llama')

True

In [12]:
animal_crackers('Crazy Kangaroo')

False

In [13]:
animal_crackers('I lives here')

'String doesnt have two words'

In [1]:
#Method 2

def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [2]:
animal_crackers('Levelheaded Llama')

True

In [14]:
#ex03
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. 
#If not, return False

def makes_twenty(n1,n2):
    if sum((n1,n2)) == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [15]:
makes_twenty(20,10)

True

In [16]:
makes_twenty(12,8)

True

In [17]:
makes_twenty(21,2)

False

In [3]:
#Method 2

def makes_twenty(n1, n2):
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [5]:
makes_twenty(21,10)

False

In [18]:
#ex04
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

def old_macdonald(name):
    for i,c in enumerate(name):
        if i == 0 or i == 3:
            print(c.capitalize(), end = "")
        else:
            print(c, end = "")

In [19]:
old_macdonald('macdonald')

MacDonald

In [20]:
#Method 2

def old_macdonald(name):
    mylist = []
    for i,c in enumerate(name):
        if i == 0 or i == 3:
            mylist.append(c.capitalize())
        else:
            mylist.append(c)
    return "".join(mylist)

In [21]:
old_macdonald('macdonald')

'MacDonald'

In [8]:
#Method 3

def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short'

In [9]:
old_macdonald('macdonald')

'MacDonald'

In [22]:
#ex05
#MASTER YODA: Given a sentence, return a sentence with the words reversed

def master_yoda(text):
    mylist = text.split()
    newlist = mylist[::-1]
    mystring = " ".join(newlist)
    print(mystring)

In [23]:
master_yoda('I am home')

home am I

In [24]:
master_yoda('We are ready')

ready are We

In [25]:
#Method 2 - in single line

def master_yoda(text):
    print(" ".join(text.split()[::-1]))

In [26]:
master_yoda('I am home')

home am I

In [27]:
#ex06
# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

def almost_there(n):
    if n >= 90 and n <= 110:
        return True
    elif n >= 190 and n <= 210:
        return True
    else:
        return False

In [28]:
almost_there(90)

True

In [29]:
almost_there(104)

True

In [30]:
almost_there(150)

False

In [31]:
almost_there(209)

True

In [32]:
#Method 2

def almost_there(n):
    if abs(100 - n) <= 10 or abs(200 - n) <=10:
        return True
    else:
        return False

In [33]:
almost_there(90)

True

In [34]:
almost_there(104)

True

In [35]:
almost_there(150)

False

In [36]:
almost_there(209)

True

In [11]:
#Method 3

def almost_there(n):
    return abs(100 - n) <= 10 or abs(200 - n) <=10

In [12]:
almost_there(90)

True

In [37]:
#ex07
#find 33

def has_33(nums):
    i = 0
    while i < len(nums):
        if nums[i] == 3:
            if i+1 < len(nums) and nums[i+1] == 3:
                return True
        i += 1
    return False

In [38]:
has_33([1, 3, 3])

True

In [39]:
has_33([1, 3, 1, 3])

False

In [40]:
has_33([3, 1, 3])

False

In [ ]:
#Method 2

def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+1] = [3,3]:
            return True
    return False

In [41]:
#ex08

#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

def paper_doll(text):
    for char in text:
        i = 0
        while i < 3:
            print(char, end = "")
            i += 1

In [42]:
paper_doll('Hello')

HHHeeellllllooo

In [43]:
#Method 2

def paper_doll(text):
    mylist = []
    for char in text:
        i = 0
        while i < 3:
            mylist.append(char)
            i += 1
    return "".join(mylist)

In [44]:
paper_doll('Hello')

'HHHeeellllllooo'

In [45]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [15]:
#Method 3

def paper_doll(text):
    result =''
    for char in  text:
        result += char * 3
    return result

In [16]:
paper_doll('Hello')

'HHHeeellllllooo'

In [42]:
#ex09

# BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
#Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

def blackjack(a,b,c):
    sum_of_integers = sum((a,b,c))
    if sum_of_integers <= 21:
        return sum_of_integers
    elif sum_of_integers - 10 <= 21 and (a == 11 or b == 11 or c == 11):
        return sum_of_integers - 10
    else:
        return 'BUST'

In [43]:
blackjack(5,6,7)

18

In [44]:
blackjack(9,9,9)

'BUST'

In [45]:
blackjack(9,9,11)

19

In [46]:
#Method 2

def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <= 31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [47]:
blackjack(5,6,7)

18

In [48]:
blackjack(9,9,9)

'BUST'

In [49]:
blackjack(9,9,11)

19

In [50]:
#ex10
#SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 
#and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [51]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
            
    print(total)

In [52]:
summer_69([1, 3, 5])

9

In [53]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [54]:
summer_69([2, 1, 6, 9, 11])

14

In [55]:
#ex11

#SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

def spy_game(nums):
    set_value = False
    set_value1 = False
    set_value2 = False
    
    for n in nums:
        while set_value:
            if n == 0:
                set_value1 =True
                break;
            else:
                break;
            
        while not set_value:
            if n == 0:
                set_value = True
                break;
            else:
                break
        while set_value1:
            if n == 7:
                set_value2 = True
                break
            else:
                break;
                
    return set_value2

In [56]:
spy_game([1,2,4,0,0,7,5])

True

In [57]:
spy_game([1,0,2,4,0,5,7])

True

In [35]:
spy_game([1,7,2,0,4,5,0])

False

In [43]:
#Method 2

def spy_game(nums):
    code = [0,0,7,'x']
    #code = [0,0,7]
    
    for n in nums:
        if n == code[0]:
            code.pop(0)
            
    return len(code) == 1
    #return len(code) == 0

In [44]:
spy_game([1,2,4,0,0,7,5])

True

In [45]:
spy_game([1,0,2,4,0,5,7])

True

In [46]:
spy_game([1,7,2,0,4,5,0])

False

In [137]:
#ex12

# COUNT PRIMES: Write a function that returns the number of prime numbers 
#that exist up to and including a given number

#wrong

def count_primes(num):
    mylist = []
    x = 3
    prime_value = True
    for n in range(2, num+1):
        if n % 2 == 0:
            break
        for i in range(3, n,2):
            if n % i == 0:
                prime_value = False
                break
        else:
                mylist.append(n)
                
    return mylist

In [138]:
count_primes(40)

[]

In [152]:
#Method 2

def count_primes(num):
    mylist = [2]
    i = 3
    
    if num < 2:
        return 0
    while i <= num:
        for n in mylist:
            if i % n == 0:
                i += 2
                break
        else:
            mylist.append(i)
            i += 2
    print(mylist)
    return len(mylist)

In [153]:
count_primes(20)

[2, 3, 5, 7, 11, 13, 17, 19]

8

In [184]:
#ex13

#PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter

def print_big(letter):
    for x in range(0,5):
        for y in range(0,5):
            print(letter, end = " ")
        print('\n')

In [185]:
print_big('a')

a a a a a

a a a a a

a a a a a

a a a a a

a a a a a

In [182]:
def print_big(letter):
    for x in range(0,5):
        for y in range(0,5):
            print(letter, end = " ")
        print('\n')

In [183]:
print_big('*')

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [26]:
def print_big(letter):
    pattern = {1:'  *  ', 2:' * * ', 3:'*****',4:'*   *', 5:'**** ',6:'*    ',7:' ****'}
    alphabets = {'A':[1,2,3,4,4], 'B':[5,4,3,4,5], 'C':[7,6,6,6,6,7]}
    for patterns in alphabets[letter.upper()]:
        print(pattern[patterns])

In [27]:
print_big('A')

  *
 * *
*****
*   *
*   *

In [28]:
print_big('B')

****
*   *
*****
*   *
****

In [29]:
print_big('C')

 ****
*
*
*
*
 ****